<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <title>用户登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="description" content="Admin Login">
    <meta name="keywords" content="Dream Console">


    <!-- CSS -->
    <link href="${rc.contextPath}/css/bootstrap.min.css" rel="stylesheet">
    <link href="${rc.contextPath}/css/form.css" rel="stylesheet">
    <link href="${rc.contextPath}/css/style.css" rel="stylesheet">
    <link href="${rc.contextPath}/css/animate.css" rel="stylesheet">
    <link href="${rc.contextPath}/css/generics.css" rel="stylesheet">

	<!-- common js-->
    <script src="${rc.contextPath}/js/jquery.min.js"></script> <!-- jQuery Library -->
    <script src="${rc.contextPath}/js/common/util.js"></script>
    <!-- checklogin -->
    <script src="${rc.contextPath}/js/admin/checkuser.js"></script>
    <!-- Bootstrap -->
    <script src="${rc.contextPath}/js/bootstrap.min.js"></script>
    <!--  Form Related -->
    <script src="${rc.contextPath}/js/icheck.js"></script> <!-- Custom Checkbox + Radio -->
    <!-- All JS functions -->
    <script src="${rc.contextPath}/js/functions.js"></script>
</head>
<body align="center" id="skin-blur-violate">
<!-- Login -->
<form action="" method="post" class="box tile animated active" id="box-login">
    <section id="login">
        <header>
            <h1>管理系统</h1>
        </header>
        <br/>
        <div class="clearfix"></div>
        <h2 class="m-t-0 m-b-15">Login</h2>
        <input type="text" class="login-control m-b-10" placeholder="用户名" id="userName" name="userName" value="$!{j_userName}"><br/>
        <input type="password" class="login-control" placeholder="密码" id ="passWord" name="passWord" value="123123"><br/>
        <div  class="verifyImg-div">
            <input type="text" class="m-t-10  login-control " placeholder="验证码" value="$!{captchaId}" id="captchaId" name="captchaId">&nbsp;&nbsp;
            <img id="verifyImg" src="${rc.contextPath}/getCaptchaId.xhtml" class="verifyImg" onclick="javascript:this.src='getCaptchaId.xhtml?code='+Math.random()">
            <br/>
        </div>
        <br>
        <span id="EEE" >$!{errorMsg}</span><br/>
        <div style="padding-top: 15px;">
            <input type="button" onclick="login(this);" class="btn btn-sm"  value ="登录"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="box-switcher" data-switch="box-reset" href="#">忘记密码？</a>
        </div>
        </section>
</form>
</body>
</html>
