<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人资料</title>

    <link href="${rc.contextPath}/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="index.jsp">首页</a></li>
        <li><a href="userList.jsp">个人资料</a></li>
        <li><a href="user_add.jsp">修改</a></li>
    </ul>
</div>

<div class="formbody">

    <div class="formtitle"><span>基本信息</span></div>
    <form action="#" method="post"  enctype="multipart/form-data">
        <ul class="forminfo">
            <li><label>用户ID</label><input name="user.userName" value="$!{user.userName}" placeholder="登录账号" type="text" class="dfinput" /></li>
            <li><label>姓名</label><input name="user.userName" value="$!{user.userName}" type="text" class="dfinput" /></li>
            <li><label>密码</label><input name="user.userWord" value="$!{user.userWord}" type="text" class="dfinput" /></li>
            <li><label>&nbsp;</label><input type="hidden" name="user.userId" value="$!{user.userId}"/></li>
            <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
        </ul>
    </form>

</div>



</body>
</html>
